In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
%matplotlib inline

In [7]:
stock_df = pd.DataFrame()
symbols = []
import os
# for dirname, _, filenames in os.walk('/kaggle/input/stock-market-dataset/stocks'):
#     for filename in filenames:
#         symbol = filename.split('.')[0]
#         symbols.append(symbol)
#         new_df = pd.read_csv(os.path.join(dirname, filename))
#         new_df['Symbol'] = symbol
#         stock_df = pd.concat([stock_df,new_df], ignore_index = True)

for dirname, _, filenames in os.walk(r'C:\Users\Aidan\Documents\StocksAnalysis\stocks\stocks'):
    for i in range(1,100):
        symbol = filenames[i].split('.')[0]
        symbols.append(symbol)
        new_df = pd.read_csv(os.path.join(dirname, filenames[i]))
        new_df['Symbol'] = symbol
        stock_df = pd.concat([stock_df,new_df], ignore_index = True)

In [8]:
stock_df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
0,1962-01-02,6.532155,6.556185,6.532155,6.532155,1.536658,55900.0,AA
1,1962-01-03,6.532155,6.632280,6.524145,6.632280,1.560212,74500.0,AA
2,1962-01-04,6.632280,6.664320,6.632280,6.632280,1.560212,80500.0,AA
3,1962-01-05,6.632280,6.656310,6.616260,6.624270,1.558326,70500.0,AA
4,1962-01-08,6.608250,6.608250,6.339915,6.408000,1.507450,93800.0,AA

In [9]:
stock_df.count

<bound method DataFrame.count of               Date       Open       High        Low      Close  Adj Close  \
0       1962-01-02   6.532155   6.556185   6.532155   6.532155   1.536658
1       1962-01-03   6.532155   6.632280   6.524145   6.632280   1.560212
2       1962-01-04   6.632280   6.664320   6.632280   6.632280   1.560212
3       1962-01-05   6.632280   6.656310   6.616260   6.624270   1.558326
4       1962-01-08   6.608250   6.608250   6.339915   6.408000   1.507450
...            ...        ...        ...        ...        ...        ...
442505  2020-03-26  46.779999  56.610001  45.490002  55.209999  55.209999
442506  2020-03-27  52.930000  53.730000  49.139999  50.180000  50.180000
442507  2020-03-30  50.189999  51.750000  48.980000  50.160000  50.160000
442508  2020-03-31  49.790001  50.380001  46.619999  48.490002  48.490002
442509  2020-04-01  45.900002  46.959999  43.560001  44.150002  44.150002

          Volume Symbol
0        55900.0     AA
1        74500.0     AA
2        80500.0     AA
3        70500.0     AA
4        93800.0     AA
...          ...    ...
442505  370100.0   AEIS
442506  315700.0   AEIS
442507  299600.0   AEIS
442508  381200.0   AEIS
442509  269700.0   AEIS

[442510 rows x 8 columns]>

In [21]:
hostname="127.0.0.1"
dbname="stocks"
uname="root"
pwd="fear1234"

In [22]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

In [23]:
stock_df.to_sql('users', engine, index=False)

In [1]:
stock_df.shape

NameError: name 'stock_df' is not defined